<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>GameShack - Inicio</title>
    </head>
    <body>
        <h1>Bienvenido a GameShack</h1>

        <!-- Enlaces para autenticación -->
        <a href="/registro">Registrarse</a> | <a href="/login">Iniciar Sesión</a>

        <h2>Productos</h2>
        <div th:each="producto : ${productos}">
            <h3 th:text="${producto.nombre}">Nombre del producto</h3>
            <p th:text="${producto.descripcion}">Descripción del producto</p>
            <p>Precio: $<span th:text="${producto.precio}">Precio</span></p>
            <a th:href="@{/producto/{id}(id=${producto.id})}">Ver Detalles</a>
            <form th:action="@{/carrito/agregar}" method="post">
                <input type="hidden" th:value="${producto.id}" name="productoId"/>
                <button type="submit">Agregar al carrito</button>
            </form>
        </div>
    </body>
</html>